@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #050506;
  color: #f2f4f7;
  font-family: 'Inter', sans-serif;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
